BYBIT_API_KEY=
BYBIT_API_SECRET=
BYBIT_TESTNET=false
BYBIT_CATEGORY=spot
BYBIT_SYMBOL=SOLUSDT
LOOKBACK_HOURS=168

NOTION_TOKEN=
NOTION_JOURNAL_DATABASE_ID=
NOTION_CASHFLOW_DATABASE_ID=
NOTION_CYCLES_DATABASE_ID=
NOTION_WEEKLY_DATABASE_ID=
NOTION_BALANCE_BLOCK_ID=
NOTION_BALANCE_LABEL_BLOCK_ID=
NOTION_CONTRIBUTIONS_BLOCK_ID=
NOTION_PROFIT_BLOCK_ID=
NOTION_ROI_BLOCK_ID=

DRY_RUN=true
IMPORT_HISTORY=false
IMPORT_CASHFLOW_HISTORY=false
BYBIT_CASHFLOW_ENABLED=true
BYBIT_INTERNAL_TRANSFERS_ENABLED=true
CASHFLOW_ENABLED=true
DASHBOARD_ENABLED=false
START_CYCLE=1
POSITION_TOLERANCE=0.00001
BASE_REALIZED_PROFIT_USDT=0
BASE_CONTRIBUTIONS_USDT=0
